<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simmons.mybatis.cs">
	<!-- FAQ Mapper -->
	<insert id="FaqWrite" parameterType="faqDto">
		insert into faq values(seq_faq.nextval,
							   #{category},
							   #{question},
							   #{answer}
		)
	</insert>

	<select id="FaqList" parameterType="String" resultType="faqDto">
		select * from faq where category = #{category}
	</select>
	
	<select id="FaqSearch" parameterType="Map" resultType="faqDto">
		select * from faq where question like '%'||#{txt}||'%' and category = #{category} order by category
	</select>
	
	<select id="FaqListSearch" parameterType="Map" resultType="faqDto">
		select * from (select rownum as num, f.* from (select * from faq order by category) f where category = #{category} and question like '%'||#{txt}||'%') where num between #{startNum} and #{endNum} order by num
	</select>
	
	<select id="FaqListTxtSearch" parameterType="Map" resultType="faqDto">
		select * from (select rownum as num, f.* from (select * from faq order by category) f where question like '%'||#{txt}||'%') where num between #{startNum} and #{endNum} order by num
	</select>
	
	<select id="FaqListAll" parameterType="Map" resultType="faqDto">
		select * from (select rownum as num, f.* from (select * from faq order by category) f) where num between #{startNum} and #{endNum} order by num
	</select>
	
	<select id="FaqSelectOne" parameterType="integer" resultType="faqDto">
		select * from faq where no = #{no} 
	</select>
	
	<select id="FaqTotal" resultType="integer">
		select count(*) as total from faq
	</select>
	
	<select id="FaqTxtTotal" resultType="integer" parameterType="String">
		select count(*) as total from faq where question like '%'||#{txt}||'%'
	</select>

	<select id="FaqSearchTotal" resultType="integer" parameterType="map">
		select count(*) as total from faq where question like '%'||#{txt}||'%' and category = #{category}
	</select>

	<update id="FaqUpdate" parameterType="faqDto">
		update faq set category = #{category}, question = #{question}, answer = #{answer} where no = #{no}
	</update>
	
	<delete id="FaqDelete" parameterType="integer">
		delete from faq where no = #{no}
	</delete>
	
	<!-- QNA Mapper -->
	<insert id="QnaWrite" parameterType="qnaDto">
		insert into qna values(seq_qna.nextval,
							   #{id},
							   #{title},
							   #{contents},
							   #{regDate},
							   '',
							   'X'
		)
	</insert>
	
	<select id="QnaAllList" resultType="qnaDto" parameterType="String">
		select * from qna where id = #{id}
	</select>
	
	<select id="QnaView" resultType="qnaDto" parameterType="integer">
		select * from qna where no = #{no}
	</select>
	
	<select id="QnaTotal" resultType="integer">
		select count(*) as total from qna
	</select>
	
	<select id="QnaSearchTotal" resultType="integer" parameterType="map">
		select count(*) as total from qna where ${category} like '%'||#{txt}||'%'
	</select>
	
	<select id="QnaSearchList" resultType="qnaDto" parameterType="map">
		select * from (select rownum as num, q.* from (select * from qna where ${category} like '%'||#{txt}||'%' order by reply desc, regdate) q) where num between ${startNum} and ${endNum}
	</select>
	
	<select id="QnaList" resultType="qnaDto" parameterType="map">
		select * from (select rownum as num, q.* from (select * from qna order by reply desc, regdate desc) q) where num between ${startNum} and ${endNum}
	</select>
	
	<update id="QnaReply" parameterType="map">
		update qna set answer = #{answer}, reply = 'O' where no = #{no}
	</update>
	
	<update id="QnaDelete" parameterType="integer">
		update qna set answer = '', reply = 'X' where no = #{no}
	</update>
	
	<select id="QnaNoReply" resultType="integer">
		select count(*) as result from qna where reply = 'X'
	</select>
	
	
	<!-- Counsel Mapper -->
	<insert id="CounselWrite" parameterType="counselDto">
		insert into counsel values(seq_counsel.nextval,
								   #{name},	
								   #{title},	
								   #{phone01},	
								   #{phone02},	
								   #{phone03},	
								   #{callTime},	
								   #{city},	
								   #{email01},	
								   #{email02},	
								   #{contents},	
								   #{privacy},	
								   #{marketing},	
								   sysdate	
		)
	</insert>
	
	<select id="CounselTotal" resultType="integer">
		select count(*) as total from counsel
	</select>
	
	<select id="CounselSearchTotal" resultType="integer" parameterType="map">
		select count(*) as total from counsel where ${category} like '%'||#{txt}||'%'
	</select>
	
	<select id="CounselSearchList" resultType="counselDto" parameterType="map">
		select * from (select rownum as num, c.* from (select * from counsel where ${category} like '%'||#{txt}||'%' order by reply desc, regdate) c) where num between ${startNum} and ${endNum}
	</select>
	
	<select id="CounselList" resultType="counselDto" parameterType="map">
		select * from (select rownum as num, c.* from (select * from counsel order by reply desc, regdate) c) where num between ${startNum} and ${endNum}
	</select>
	
	<select id="CounselView" resultType="counselDto" parameterType="integer">
		select * from counsel where no = #{no}
	</select>
	
	<update id="CounselReply" parameterType="map">
		update counsel set answer = #{answer}, replyregdate = sysdate, reply = 'O' where no = #{no}
	</update>
	
	<update id="CounselDelete" parameterType="integer">
		update counsel set answer = '', replyregdate = '', reply = 'X' where no = #{no}
	</update>
	
	<select id="CounselNoReply" resultType="integer">
		select count(*) as result from counsel where reply = 'X'
	</select>
	
	<!-- AS Mapper -->
	<insert id="AsWrite" parameterType="asDto">
		insert into cs_as values(seq_as.nextval,
								 #{name},
								 #{phone01},
								 #{phone02},
								 #{phone03},
								 #{zipCode},
								 #{address01},
								 #{address02},
								 #{address03},
								 #{email01},
								 #{email02},
								 #{buyDate},
								 #{buyPlace},
								 #{category},
								 #{standard},
								 #{pname},
								 #{title},
								 #{contents},
								 #{fileName},
								 #{realFileName},
								 #{privacy},
								 #{marketing},
								 sysdate,
								 'X',
								 '',
								 ''
		)
	</insert>
	
	<select id="AsTotal" resultType="integer">
		select count(*) as total from cs_as
	</select>
	
	<select id="AsSearchTotal" resultType="integer" parameterType="map">
		select count(*) as total from cs_as where ${category} like '%'||#{txt}||'%'
	</select>
	
	<select id="AsSearchList" resultType="asDto" parameterType="map">
		select * from (select rownum as num, a.* from (select * from cs_as where ${category} like '%'||#{txt}||'%' order by reply desc, regdate) a) where num between ${startNum} and ${endNum}
	</select>
	
	<select id="AsList" resultType="asDto" parameterType="map">
		select * from (select rownum as num, a.* from (select * from cs_as order by reply desc, regdate) a) where num between ${startNum} and ${endNum}
	</select>
	
	<select id="AsView" resultType="asDto" parameterType="integer">
		select * from cs_as where no = #{no}
	</select>
	
	<update id="AsReply" parameterType="map">
		update cs_as set answer = #{answer}, replyregdate = sysdate, reply = 'O' where no = #{no}
	</update>
	
	<update id="AsDelete" parameterType="integer">
		update cs_as set answer = '', replyregdate = '', reply = 'X' where no = #{no}
	</update>
	
	<select id="AsNoReply" resultType="integer">
		select count(*) as result from cs_as where reply = 'X'
	</select>
	
	<!-- NOTICE Mapper -->
	<select id="NoticeList" parameterType="Map" resultType="noticeDto">
		select * from (select rownum as num, n.* from (select * from notice order by no desc) n) where num between #{startNum} and #{endNum}
	</select>
	
	<select id="NoticeSearchList" parameterType="Map" resultType="noticeDto">
		select * from (select rownum as num, n.* from (select * from notice where ${option} like '%'||#{txt}||'%' order by no desc) n) where num between #{startNum} and #{endNum}
	</select>
	
	<select id="NoticeAllList" resultType="noticeDto">
		select * from notice order by no
	</select>
	
	<select id="NoticeNum" parameterType="integer" resultType="integer">
		select num from (select rownum as num, n.* from (select * from notice order by no desc) n) where no = #{no}
	</select>
	
	<select id="NoticePrevSelect" resultType="noticeDto">
		select * from (select rownum as num, n.* from (select * from notice order by no desc) n) where num = #{num} - 1
	</select>
	
	<select id="NoticeNextSelect" resultType="noticeDto">
		select * from (select rownum as num, n.* from (select * from notice order by no desc) n) where num = #{num} + 1
	</select>
	
	<insert id="NoticeWrite" parameterType="noticeDto">
		insert into notice values(seq_notice.nextval,
								  #{title},
								  #{contents},
								  sysdate
		)
	</insert>
	
	<select id="NoticeSelectOne" parameterType="integer" resultType="noticeDto">
		select * from notice where no = #{no}
	</select>
	
	<select id="NoticeTotal" resultType="integer">
		select count(*) as total from notice
	</select>
	
	<select id="NoticeSearchTotal" parameterType="map" resultType="integer">
		select count(*) as total from notice where ${option} like '%'||#{txt}||'%'
	</select>
	
	<update id="NoticeUpdate" parameterType="noticeDto">
		update notice set title = #{title}, contents = #{contents} where no = #{no}
	</update>
	
	<delete id="NoticeDelete" parameterType="integer">
		delete from notice where no = #{no}
	</delete>
	
</mapper>