<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simmons.mybatis.product">
	<insert id="productInsert" parameterType="productDto">
		insert into product values(seq_product.nextval,
								   #{category},
								   #{pname},
								   #{component},
								   #{material},
								   #{productor},
								   #{delivery},
								   #{guarantee},
								   #{precaution},
								   #{test},
								   #{img},
								   #{realImg},
								   #{contents},		
								   #{hardness},		
								   #{type},
								   #{pattern}
		)
	</insert>
	
	<insert id="sizesInsert" parameterType="Map">
		insert into sizes values(#{pname},
								 #{sizes},
								 #{spec},
								 #{price},
								 <choose>
								  	<when test="sizes=='GK'">
									  	'그레이트킹'
								  	</when>
								  	<when test="sizes=='KK'">
									  	'킹오브킹'
								  	</when>
								  	<when test="sizes=='LK'">
									  	'라지킹'
								  	</when>
								  	<when test="sizes=='QE'">
									  	'퀸'
								  	</when>
								  	<when test="sizes=='SS'">
									  	'슈퍼싱글'
								  	</when>
								  </choose> 
		)
	</insert>
	
	<select id=""></select>
	
	<insert id="colorInsert" parameterType="Map">
		insert into color values(#{pname},
								 #{sizes},
								 #{color},
								 0
		)
	</insert>
	
	<select id="SelectOne" parameterType="integer" resultType="productDto">
		select * from product where no = #{no}
	</select>
	
	<select id="getHContents" parameterType="String" resultType="String">
		select contents from hardness where class = #{hardness}
	</select>
	
	<select id="getSizes" parameterType="String" resultType="productSizeDto">
		select * from sizes where pname = #{pname} order by price desc
	</select>
	
	<select id="getProductAllList" resultType="productDto">
		select * from product order by no
	</select>
	
	<select id="getProductSList" parameterType="String" resultType="productDto">
		select * from product where pname = any(select pname from sizes where sizes=#{sizes}) order by no
	</select>
	
	<select id="getProductHList" parameterType="String" resultType="productDto">
		select * from product where hardness = (select class from hardness where class=#{hardness}) order by no
	</select>
	
	<select id="getProductSHList" parameterType="Map" resultType="productDto">
		select * from product where pname = any(select pname from sizes where sizes=#{sizes}) and hardness = (select class from hardness where class=#{hardness}) order by no
	</select>
	
	<select id="getPrice" parameterType="Map" resultType="integer">
		select price from sizes where sizes = #{sizes} and pname = #{pname}
	</select>
	
	<insert id="CartInsert" parameterType="cartDto">
		insert into cart values(#{no}, #{pname}, #{img}, #{count}, #{price}, #{sizes}, #{id}, sysdate, 'cart')
	</insert>
	
	<select id="CartSelectList" parameterType="String" resultType="cartDto" >
		select * from cart where id = #{id} and etc = 'cart' order by regdate
	</select>
	
	<update id="CartUpdate" parameterType="cartDto">
		update cart set count = #{count} where pname = #{pname} and sizes = #{sizes} and etc = 'cart'
	</update>
	
	<delete id="CartDelete" parameterType="cartDto">
		delete from cart where pname = #{pname} and sizes = #{sizes} and etc = 'cart'
	</delete>
	
	<insert id="RecentInsert" parameterType="cartDto">
		insert into cart values(#{no}, #{pname}, #{img}, '', '', '', #{id}, sysdate, 'recent')
	</insert>
	
	<select id="RecentSelectList" parameterType="String" resultType="cartDto" >
		select * from cart where id = #{id} and etc = 'recent' order by regdate
	</select>
	
	<delete id="RecentDelete" parameterType="cartDto">
		delete from cart where pname = #{pname} and etc = 'recent'
	</delete>
	
	<select id="GetPname" parameterType="Integer" resultType="String">
		select pname from product where no = #{no}
	</select>
	
	<insert id="WishInsert" parameterType="cartDto">
		insert into cart values(#{no}, #{pname}, #{img}, '', '', '', #{id}, sysdate, 'wish')
	</insert>
	
	<select id="WishSelectList" parameterType="String" resultType="cartDto" >
		select * from cart where id = #{id} and etc = 'wish' order by regdate
	</select>
	
	<delete id="WishDelete" parameterType="String">
		delete from cart where pname = #{pname} and etc = 'wish'
	</delete>
	
	<insert id="buyProduct" parameterType="buyListDto">
		INSERT INTO BUYLIST VALUES (SEQ_BUYLIST.NEXTVAL,	
								   #{name},
								   #{pname},
								   #{sizes},
								   #{price},
								   '1',
								   #{phone},
								   #{email},
								   #{address},
								   #{id},
								   <choose>
								   	<when test="id!=null">
								   		'회원'
								   	</when>
								   	<otherwise>
								   		'비회원'
								   	</otherwise>
								   </choose>
								   )
	</insert>
</mapper>