html { font-size: 10px; }

body { font-family: "Lexend", "Noto Sans KR", sans-serif; font-size: 1.6rem; color: #111111; }

a { color: inherit; text-decoration: none; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

.banner { margin-top: 62px; position: relative; height: 340px; background: url("../images/aboutus/heritage/history_visual.jpg") no-repeat 50% 0; }

.banner.mediaBanner { background: url("../images/aboutus/media/media_visual.jpg") no-repeat 50% 0; }

.banner.hotelBanner { background: url("../images/aboutus/hotel/hotel_visual.jpg") no-repeat 50% 0; }

.banner.factoriumBanner { background: url("../images/factorium/factorium_bg.jpg") no-repeat 50% 0; }

.banner.zoningBanner { background: url("../images/factorium/rnd/zoning_visual.jpg") no-repeat 50% 0; }

.banner.layeringBanner { background: url("../images/factorium/rnd/layering_visual.jpg") no-repeat 50% 0; }

.banner.galleryBanner { background: url("../images/gallery/gallery_visual.jpg") no-repeat 50% 0; }

.banner .firstMenu { display: flex; position: absolute; right: 20px; top: 26px; }

.banner .firstMenu .firstLi { display: flex; padding-left: 10px; margin-right: 10px; font-size: 12px; color: #fff; background: url(../images/aboutus/heritage/location_bar.gif) no-repeat 0 50%; }

.banner .firstMenu .firstLi.open { display: block; }

.banner .firstMenu .firstLi.open .secondMenu { display: block; background-color: #fff; color: #777; padding: 15px 10px; width: 110px; }

.banner .firstMenu .firstLi > a { padding-right: 10px; background: url(../images/aboutus/heritage/location_arrow2.gif) no-repeat 100% 50%; }

.banner .firstMenu .firstLi .secondMenu { display: none; position: absolute; text-align: left; }

.banner .firstMenu .firstLi .secondMenu a { display: block; line-height: 1.5; }

.banner .firstMenu .firstLi:first-child { background: none; }

.banner .firstMenu .firstLi:first-child a { margin: 0; padding: 0; background: none; }

.banner .d { height: 259px; display: flex; flex-direction: column; justify-content: center; line-height: 1.5; }

.banner .d h1 { padding: 100px 0 10px 0; color: #fff; font-size: 50px; font-weight: 400; text-align: center; }

.banner .d p { color: #c7c7c7; font-size: 16px; text-align: center; }

.container .threeTap { padding: 75px 0 40px 0; width: 100%; display: flex; justify-content: center; }

.container .threeTap li { display: flex; }

.container .threeTap li a { width: 330px; height: 43px; line-height: 43px; text-align: center; font-size: 16px; border: 1px solid #dedede; border-left: none; color: #a1a1a1; }

.container .threeTap li:first-child { border-left: 1px solid #dedede; }

.container .threeTap .on a { background-color: #000; color: #fff; }

.container .jumpLink ul { display: flex; flex-wrap: wrap; }

.container .jumpLink li { width: 50%; height: 100%; overflow: hidden; }

.container .jumpLink li:hover { transition: 1s; }

.container .jumpLink li:hover .hoverBox { opacity: 1; }

.container .jumpLink li:hover img { transform: scale(1.15); }

.container .jumpLink li a { position: relative; display: flex; }

.container .jumpLink li a img { width: 100%; transition: 1s ease; }

.container .jumpLink li a .hoverBox { text-align: center; position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); display: flex; align-items: center; opacity: 0; transition: 1s; }

.container .jumpLink li a .hoverBox span { position: absolute; display: block; width: 100%; height: 150px; color: #fff; font-weight: 400; background: url(../images/aboutus/media/cf_play.png) no-repeat 50% 105px; }

.container .jumpLink li a .hoverBox span p { font-size: 40px; }

.container .jumpLink li a .hoverBox span em { font-size: 20px; }

.container #btn_tvadd { display: flex; justify-content: center; width: 120px; padding-bottom: 45px; margin: 53px auto 0 auto; background: url(../images/aboutus/media/cf_plus.png) no-repeat 50% 100%; color: #000; font-size: 14px; }

.container .searchBox { display: flex; justify-content: end; padding-bottom: 20px; width: 1000px; margin: 0 auto; }

.container .searchBox select { color: #999; width: 100px; height: 30px; margin-right: 10px; padding-left: 10px; border: 1px solid #dedede; font-size: 12px; }

.container .searchBox input { padding: 0 15px; border: 1px solid #dedede; font-size: 12px; }

.container .searchBox a { font-size: 12px; width: 70px; height: 30px; background: #000; color: #fff; line-height: 30px; text-align: center; margin-left: 10px; }

.container .articleList { width: 1000px; margin: 0 auto; border: 2px solid #000; border-width: 2px 0; }

.container .articleList .col2 { width: 260px; }

.container .articleList th { height: 50px; font-size: 14px; vertical-align: middle; }

.container .articleList tbody tr td { height: 50px; border-top: 1px solid #a1a1a1; font-size: 14px; vertical-align: middle; text-align: center; color: #a1a1a1; }

.container .articleList tbody tr .sub { text-align: left; padding-left: 20px; }

.container .paging #pageNavi { display: flex; justify-content: center; padding-top: 17px; }

.container .paging #pageNavi ol { display: flex; }

.container .paging #pageNavi ol li { margin-left: 5px; font-size: 12px; }

.container .paging #pageNavi ol li a { display: flex; justify-content: center; width: 19px; height: 19px; line-height: 19px; }

.container .paging #pageNavi ol li .on { background: #000; color: #fff; }

.container .paging #pageNavi .prev { width: 15px; height: 19px; margin-right: 22px; background: url(../images/aboutus/media/paging_left.png) no-repeat 50% 50%; }

.container .paging #pageNavi .next { width: 15px; height: 19px; margin-left: 22px; background: url(../images/aboutus/media/paging_right.png) no-repeat 50% 50%; }

.container .hotel { margin: 45px auto; width: 100%; }

.container .hotel h3 { padding: 50px 0 23px 0; font-size: 25px; text-align: center; font-weight: 400; background: url(../images/aboutus/hotel/hotel_bg.gif) no-repeat 50% 100%; letter-spacing: -2px; }

.container .hotel p { padding: 60px 0 115px 0; color: #a1a1a1; text-align: center; font-size: 14px; line-height: 1.5; }

.container .hotel div img { width: 100%; }

.container .hotel span { display: flex; justify-content: end; width: 1000px; margin: 0 auto; padding: 90px 0 8px 0; color: #999; font-size: 12px; }

.container .hotel .hotelTap { width: 1000px; margin: 0 auto; border-bottom: 2px solid #000; display: flex; justify-content: center; }

.container .hotel .hotelTap li { width: 332px; border-top: 1px solid #a1a1a1; border-left: 1px solid #a1a1a1; }

.container .hotel .hotelTap li a { display: flex; justify-content: center; height: 32px; background: url(../images/aboutus/hotel/hotel_tab_off.png) no-repeat 230px 50%; font-size: 12px; line-height: 32px; }

.container .hotel .hotelTap li:last-child { border-right: 1px solid #a1a1a1; }

.container .hotel .hotelTap li.on a { background: url(../images/aboutus/hotel/hotel_tab_on.png) no-repeat 230px 50% #000; color: #fff; }

.container .hotel .simmonsList { width: 1000px; padding-top: 35px; margin: 0 auto; }

.container .hotel .simmonsList ul { width: 1040px; height: 900px; display: flex; overflow: hidden; }

.container .hotel .simmonsList ul li { width: 220px; height: 39px; font-size: 11px; border-bottom: 1px solid #a1a1a1; line-height: 39px; letter-spacing: -2px; }

.container .hotel .simmonsList ul > li { width: 25%; height: auto; border-bottom: none; }

.container .hotel .info { width: 1000px; margin: 150px auto 0 auto; padding: 25px 0 35px 0; border: 1px solid #a1a1a1; background-color: #f1f1f1; }

.container .hotel .info dl { display: flex; justify-content: center; }

.container .hotel .info .q { padding-bottom: 2px; line-height: 30px; }

.container .hotel .info .q dt { font-size: 18px; padding-right: 25px; margin-right: 15px; background: url(../images/aboutus/hotel/hotel_info_arrow.png) no-repeat 100% 50%; }

.container .hotel .info .q dd { font-size: 20px; }

.container .hotel .info .mail { color: #a1a1a1; font-size: 12px; letter-spacing: 2px; }

.container .contents { position: relative; width: 100%; margin: 50px auto; background: url(../images/aboutus/heritage/history_pointer.png) no-repeat 50% 460px; }

.container .contents .hTitle { padding: 80px 0 245px 0; text-align: center; background: url(../images/aboutus/heritage/list_bg.jpg) no-repeat 50% 60%; }

.container .contents .hTitle h4 { color: #777; font-size: 45px; font-weight: 500; padding-bottom: 40px; line-height: 1.25; }

.container .contents .hTitle .subtitle p { color: #777; font-size: 20px; }

.container .contents .yearTitle { margin: 0 0 60px 0; text-align: center; }

.container .contents .yearTitle h1 { font-size: 35px; padding-bottom: 15px; }

.container .contents .yearTitle p { font-size: 16px; color: #777; }

.container .contents .year { background-repeat: no-repeat; background-position: 50% 15px; width: 1000px; margin: 0 auto; display: flex; }

.container .contents .year .picture { width: 400px; padding-right: 80px; text-align: right; }

.container .contents .year .cont { display: flex; }

.container .contents .year .cont ul { margin-left: 90px; width: 550px; height: 380px; }

.container .contents .year .cont ul li { background: url(../images/aboutus/heritage/history_bullet.png) no-repeat 2.5px 15px; padding: 0 0 40px 45px; font-size: 12px; line-height: 1.5; }

.container .contents .year .cont ul li em { padding-bottom: 10px; display: flex; font-size: 28px; }

.container .contents .year .cont ul li span { font-weight: 600; display: inline-block; }

.container .contents .year .cont ul li p { color: #a1a1a1; word-spacing: -3px; }

.container .contents .year1 { background-image: url(../images/aboutus/heritage/history_bg1.gif); }

.container .contents .year2 { background-image: url(../images/aboutus/heritage/history_bg2.gif); height: 300px; }

.container .contents .year2 .picture { padding-top: 50px; }

.container .contents .paper { padding-bottom: 75px; }

.container .contents .paper ul { display: flex; justify-content: space-between; margin: 0 auto; width: 1000px; }

.container .contents .paper ul li .name { padding-top: 15px; text-align: center; }

.container .contents .paper ul li .name p { font-size: 14px; padding-bottom: 5px; }

.container .contents .paper ul li .name span { font-size: 12px; color: #a1a1a1; }

.container .contents .year3 { background-image: url(../images/aboutus/heritage/history_bg3.gif); height: 430px; }

.container .contents .year3 .picture { padding: 0 115px; }

.container .contents .year3_1 { background-image: url(../images/aboutus/heritage/history_bg3.gif); background-position: 50% -5px; margin-bottom: 30px; }

.container .contents .year4 { background-image: url(../images/aboutus/heritage/history_bg4.gif); height: 500px; }

.container .contents .year5 { background-image: url(../images/aboutus/heritage/history_bg5.png); background-position: 50% -5px; height: 1200px; }

.container .contents .year5 .cont ul { padding-top: 75px; }

.container .contents .year5 .cont ul li { padding-bottom: 0; }

.container .contents .year5 .cont ul li p { padding-bottom: 40px; }

.container .contents .year5 .picture { padding-top: 75px; }

.container .contents .yearVideo { position: relative; width: 1000px; height: 220px; margin: 0 auto; }

.container .contents .yearVideo a { position: absolute; left: 0; top: 0; z-index: 50; }

.container .contents .yearVideo iframe { position: absolute; left: 0; top: 0; width: 100%; height: 655px; display: none; }

.container .contents .award { width: 1000px; margin: 0 auto; display: flex; flex-direction: column; }

.container .contents .award .scrollBox { position: relative; overflow: hidden; height: 100%; max-width: 100%; }

.container .contents .award .scrollBox ul { width: 1820px; height: 300px; display: flex; }

.container .contents .award .scrollBox ul li { text-align: center; display: flex; flex-direction: column; background-repeat: no-repeat; background-position: 0 0; width: 185px; margin-right: 18px; }

.container .contents .award .scrollBox ul li p { padding-top: 190px; font-size: 11px; line-height: 1.25; word-spacing: -2px; }

.container .contents .award .scrollBox ul li em { height: 28px; font-size: 14px; text-align: center; }

.container .contents .award .scrollBox ul li span { font-size: 12px; text-align: center; color: #a1a1a1; }

.container .contents .award .scrollBox ul li:nth-child(1) { background-image: url(../images/aboutus/heritage/history_award_01.jpg); }

.container .contents .award .scrollBox ul li:nth-child(2) { background-image: url(../images/aboutus/heritage/history_award_02.jpg); }

.container .contents .award .scrollBox ul li:nth-child(3) { background-image: url(../images/aboutus/heritage/history_award_03.jpg); }

.container .contents .award .scrollBox ul li:nth-child(4) { background-image: url(../images/aboutus/heritage/history_award_04.jpg); }

.container .contents .award .scrollBox ul li:nth-child(5) { background-image: url(../images/aboutus/heritage/history_award_05.jpg); }

.container .contents .award .scrollBox ul li:nth-child(6) { background-image: url(../images/aboutus/heritage/history_award_06.jpg); }

.container .contents .award .scrollBox ul li:nth-child(7) { margin-right: 0; background-image: url(../images/aboutus/heritage/history_award_07.jpg); }

.container .contents .award .scroll { height: 100%; }

.container .contents .award .scroll .draggerContainer { position: absolute; width: 1000px; height: 2px; background-color: #a1a1a1; opacity: 0.75; margin: 6px auto; }

.container .contents .award .scroll .draggerbar { position: absolute; width: 550px; height: 4px; background-color: #777; margin: 5px 0; border-radius: 16px; }
