main { overflow: hidden; }

main #black { text-align: center; position: relative; }

main #black .mainImg { width: 100%; height: 340px; margin-top: 60px; overflow: hidden; background: url("../images/black/theblack_bg.jpg") no-repeat 50% 0; }

main #black .mainImg .firstMenu { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 20px; top: 26px; }

main #black .mainImg .firstMenu .firstLi { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 10px; margin-right: 10px; font-size: 12px; color: #fff; background: url(../images/aboutus/heritage/location_bar.gif) no-repeat 0 50%; }

main #black .mainImg .firstMenu .firstLi.open { display: block; }

main #black .mainImg .firstMenu .firstLi.open .secondMenu { display: block; background-color: #fff; color: #777; padding: 15px 10px; width: 130px; }

main #black .mainImg .firstMenu .firstLi > a { padding-right: 10px; background: url(../images/aboutus/heritage/location_arrow2.gif) no-repeat 100% 50%; }

main #black .mainImg .firstMenu .firstLi > a:hover { color: #fff !important; }

main #black .mainImg .firstMenu .firstLi .secondMenu { display: none; position: absolute; text-align: left; }

main #black .mainImg .firstMenu .firstLi .secondMenu a { display: block; line-height: 1.5; }

main #black .mainImg .firstMenu .firstLi:first-child { background: none; }

main #black .mainImg .firstMenu .firstLi:first-child a { margin: 0; padding: 0; background: none; }

main #black .mainImg .mainTxt { text-align: center; margin-top: 80px; }

main #black .mainImg .mainTxt h2 { color: #fff; font-size: 50px; }

main #black .mainImg .mainTxt > p { color: #c7c7c7; font-size: 16px; line-height: 3; padding-top: 0; }

main #black .theBackTitle { width: 100%; padding: 140px 0 65px; text-align: center; background: url("../images/black/heritage/list_bg.jpg") no-repeat 50% 100%; margin-bottom: -90px; }

main #black .theBackTitle img { margin: 0 auto; }

main #black h3 { background: url("../images/black/intro/lab_tt_bg.gif") no-repeat 50% 100%; font-size: 35px; letter-spacing: 8px; padding: 25px 0; margin-top: 150px; }

main #black p { padding: 60px 0 40px; font-size: 14px; line-height: 1.5; color: #acacac; }

main #black .slider { position: relative; }

main #black .slider .sliderBox { position: relative; overflow: hidden; }

main #black .slider .sliderBox ul li { height: 340px; background-repeat: no-repeat; background-size: cover; background-position: 50%; }

main #black .slider .sliderBtn { position: absolute; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; left: 50%; z-index: 100; margin-left: -80px; }

main #black .slider .sliderBtn .bullet { width: 150px; position: absolute; bottom: 20px; }

main #black .slider .sliderBtn .bullet .swiper-pagination-bullet { margin-right: 2px; width: 10px; height: 10px; background: url(../images/collection/beautyrest/bullet_off.png) no-repeat 0 0; opacity: 1; }

main #black .slider .sliderBtn .bullet .swiper-pagination-bullet-active { background: url(../images/collection/beautyrest/bullet_on.png) no-repeat 0 0; }

main #blackContents { margin-top: 60px; width: 100%; }

main #blackContents .proTop { position: relative; z-index: 3; }

main #blackContents .proTop .miniMenu { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 20px; top: 26px; background-color: #111; border-radius: 12.5px; padding: 5px; }

main #blackContents .proTop .miniMenu .miniLi { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 10px; margin-right: 10px; font-size: 12px; color: #fff; background: url(../images/aboutus/heritage/location_bar.gif) no-repeat 0 50%; }

main #blackContents .proTop .miniMenu .miniLi:nth-child(1) { background: none; }

main #blackContents .proTop .miniMenu .miniLi:nth-child(1) > a { background: none; }

main #blackContents .proTop .miniMenu .miniLi.open { display: block; }

main #blackContents .proTop .miniMenu .miniLi.open .miniSub { display: block; background-color: #fff; padding: 15px 10px; width: 130px; }

main #blackContents .proTop .miniMenu .miniLi > a { padding-right: 10px; background: url(../images/aboutus/heritage/location_arrow2.gif) no-repeat 100% 50%; }

main #blackContents .proTop .miniMenu .miniLi > a:hover, main #blackContents .proTop .miniMenu .miniLi > a:focus { color: #fff !important; }

main #blackContents .proTop .miniMenu .miniLi .miniSub { display: none; position: absolute; text-align: left; }

main #blackContents .proTop .miniMenu .miniLi .miniSub a { display: block; line-height: 1.5; color: #777; }

main #blackContents .mainSlider { position: relative; }

main #blackContents .mainSlider .mainSliderBox { position: relative; overflow: hidden; }

main #blackContents .mainSlider .mainSliderBox .mask { height: 100vh; }

main #blackContents .mainSlider .mainSliderBox ul li { height: 90vh; background-repeat: no-repeat; background-size: cover; background-position: 50%; }

main #blackContents .mainSlider .mainSliderBox ul li.visual01 { background-image: url("../images/black/collection_banner1.jpg"); }

main #blackContents .mainSlider .mainSliderBox ul li.visual02 { background-image: url("../images/black/collection_banner2.jpg"); }

main #blackContents .mainSlider .mainSliderBox ul li.visual03 { background-image: url("../images/black/collection_banner3.jpg"); }

main #blackContents .mainSlider .mainSliderBox ul li.visual04 { background-image: url("../images/black/collection_banner4.jpg"); }

main #blackContents .mainSlider .sliderBtn { position: absolute; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; left: 50%; z-index: 100; margin-left: -80px; }

main #blackContents .mainSlider .sliderBtn .bullet { width: 150px; position: absolute; bottom: 90px; }

main #blackContents .mainSlider .sliderBtn .bullet .swiper-pagination-bullet { margin-right: 2px; width: 10px; height: 10px; background: url(../images/collection/beautyrest/bullet_off.png) no-repeat 0 0; opacity: 1; }

main #blackContents .mainSlider .sliderBtn .bullet .swiper-pagination-bullet-active { background: url(../images/collection/beautyrest/bullet_on.png) no-repeat 0 0; }

main #blackContents .mainSlider .galleryRight { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 35px; height: 65px; background: url(../images/collection/beautyrest/kv_right.png) no-repeat 0 0; z-index: 60; opacity: 1; font-size: 0; cursor: pointer; }

main #blackContents .mainSlider .galleryLeft { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 35px; height: 65px; background: url(../images/collection/beautyrest/kv_left.png) no-repeat 0 0; z-index: 60; opacity: 1; font-size: 0; cursor: pointer; }

main #blackContents .sns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

main #blackContents .sns a { background: url(../images/black/menu03.png) no-repeat 10px 0; display: block; width: 50px; padding-top: 30px; font-size: 11px; }

main #blackContents h2 { text-align: center; font-size: 50px; padding: 80px 0 20px; }

main #blackContents .proList .option { width: 1000px; margin: 0 auto; text-align: center; padding: 30px 0; }

main #blackContents .proList .option .mat { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 10px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

main #blackContents .proList .option .mat dd label { display: none; }

main #blackContents .proList .option .mat dd .select { width: 125px; height: 30px; border: none; border-bottom: 1px solid #000; }

main #blackContents .proList .option .mat dd .select2 { margin-right: 60px; }

main #blackContents .SliderScrollBox { max-width: 100%; position: relative; height: 550px; padding-bottom: 30px; }

main #blackContents .SliderScrollBox .swiper-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: absolute; padding: 45px 0 90px 40px; }

main #blackContents .SliderScrollBox .swiper-wrapper li { width: 400px; }

main #blackContents .SliderScrollBox .swiper-wrapper li a { position: relative; display: block; }

main #blackContents .SliderScrollBox .swiper-wrapper li a img { width: 330px; -webkit-box-shadow: 0 0 5px #555; box-shadow: 0 0 5px #555; }

main #blackContents .SliderScrollBox .swiper-wrapper li a:hover { position: relative; text-align: center; opacity: 1; }

main #blackContents .SliderScrollBox .swiper-wrapper li a:hover img { display: block; -webkit-filter: brightness(30%); filter: brightness(30%); -webkit-transition: all 0.5s ease; transition: all 0.5s ease; margin-top: -30px; }

main #blackContents .SliderScrollBox .swiper-wrapper li a .hoverBox { text-align: center; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); width: 330px; height: 480px; opacity: 0; -webkit-transition: 0.3s; transition: 0.3s; }

main #blackContents .SliderScrollBox .swiper-wrapper li a .hoverBox .cover { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; width: 100%; font-size: 0; }

main #blackContents .SliderScrollBox .swiper-wrapper li a .hoverBox .cover .box { display: inline-block; width: 48px; height: 18px; border: 1px solid #5b5b5b; color: #fff; font-size: 9px; line-height: 18px; }

main #blackContents .SliderScrollBox .swiper-wrapper li a .hoverBox .cover .name { display: block; color: #f0f0f0; font-size: 21px; font-weight: lighter; text-align: center; line-height: 1.25em; padding: 15px 0; }

main #blackContents .SliderScrollBox .swiper-wrapper li a .hoverBox .cover .bogi { display: inline-block; border-bottom: 1px solid #868686; }

main #blackContents .SliderScrollBox .swiper-wrapper li a .hoverBox .cover .bogi i { display: inline-block; color: #fff; font-size: 11px; }

main #blackContents .SliderScrollBox .swiper-wrapper li:hover .hoverBox { opacity: 1; }

main #blackContents .swiper-scrollbar { position: absolute; bottom: 0; height: 3px; background: #dedede; }

.swiper-wrapper { min-height: 100%; }

.swiper-slide { height: auto !important; }
