#gallery { min-width: 1000px; min-height: 650px; background: #fff; }

#gallery .visualSub { height: 340px; overflow: hidden; position: absolute; left: 0; top: 62px; width: 100%; padding: 0; }

#gallery .mainContent { position: relative; margin: 0 auto; padding-bottom: 150px; text-align: center; }

#gallery .mainContent p { color: #a7a7a7; text-align: center; padding: 140px 0 60px 0; font-size: 21px; line-height: 26px; background: url(../images/gallery/gallery_line.gif) no-repeat 50% 100%; }

#gallery .mainContent .gallery01 h3 { padding: 50px 0 23px 0; color: #000; font-size: 35px; letter-spacing: 8px; background: url(../images/gallery/lab_tt_bg.gif) no-repeat 50% 100%; }

#gallery .mainContent .gallery01 p { padding: 58px 0 41px 0; color: #acacac; font-size: 14px; line-height: 23px; background: none; }

#gallery .mainContent .gallery02 { background: url(../images/gallery/gallery_bar.gif) no-repeat 50% 40px; }

#gallery .mainContent .gallery02 h3 { padding: 124px 0 23px 0; color: #000; font-size: 35px; letter-spacing: 8px; background: url(../images/gallery/lab_tt_bg.gif) no-repeat 50% 100%; }

#gallery .mainContent .gallery02 p { padding: 58px 0 41px 0; color: #acacac; font-size: 14px; line-height: 23px; background: none; }

#gallery .mainContent .multiSlider { margin: 0 auto; width: 1000px; overflow: hidden; }

#gallery .mainContent .multiSlider ul { height: 410px; position: relative; }

#gallery .mainContent .multiSlider ul li img { width: 1000px; }

#gallery .mainContent .multiSlider ul li:first-child { display: block; z-index: 50; }

#gallery .mainContent .multiSlider .bullet { padding-top: 40px; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#gallery .mainContent .multiSlider .bullet .swiper-pagination-bullet { margin-right: 2px; width: 10px; height: 10px; background: url(../images/gallery/gallery_multi_off.png) no-repeat 0 0; margin-left: 20px; width: 14px; height: 14px; opacity: 1; }

#gallery .mainContent .multiSlider .bullet .swiper-pagination-bullet-active { background: url(../images/gallery/gallery_multi_on.png) no-repeat 0 0; }

#gallery .mainContent .multiSlider .bullet .swiper-pagination-bullet:first-child { margin: 0; }

#gallery .mainContent .gallery_arrow { margin-top: 180px; height: 571px; overflow: hidden; }

#gallery .mainContent .gallery_arrow .slider_wrap { position: relative; overflow: hidden; margin: 5px auto 0 auto; width: 1000px; }

#gallery .mainContent .gallery_arrow .slider_wrap .galleryRight { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 35px; height: 65px; background: url(../images/gallery/btn_next.png) no-repeat 0 0; z-index: 60; opacity: 1; font-size: 0; cursor: pointer; }

#gallery .mainContent .gallery_arrow .slider_wrap .galleryLeft { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 30px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 35px; height: 65px; background: url(../images/gallery/btn_prev.png) no-repeat 0 0; z-index: 60; opacity: 1; font-size: 0; cursor: pointer; }

#gallery .mainContent .gallery03 { width: 1000px; margin: 0 auto; margin-top: 75px; }

#gallery .mainContent .gallery03 h3 { padding: 124px 0 23px 0; background: url(../images/gallery/lab_tt_bg.gif) no-repeat 50% 100%; color: #000; font-size: 35px; letter-spacing: 8px; }

#gallery .mainContent .gallery03 .myTable01 { font-size: 13px; margin-top: 25px; border-top: 1px solid #dedede; border-bottom: 2px solid #000; }

#gallery .mainContent .gallery03 .myTable01 .col1 { width: 185px; }

#gallery .mainContent .gallery03 .myTable01 .col2 { width: 340px; }

#gallery .mainContent .gallery03 .myTable01 tr { cursor: pointer; }

#gallery .mainContent .gallery03 .myTable01 tr:first-child td { padding-top: 22px; }

#gallery .mainContent .gallery03 .myTable01 tr:last-child td { padding-bottom: 22px; }

#gallery .mainContent .gallery03 .myTable01 th { border-bottom: 1px solid #dedede; height: 40px; text-align: center; font-weight: 400; vertical-align: middle; }

#gallery .mainContent .gallery03 .myTable01 td { height: 30px; padding-left: 30px; text-align: left; color: #777; vertical-align: middle; }

#gallery .mainContent .gallery03 .myTable01 .num { width: 130px; }

#gallery .mainContent .gallery03 .myTable01 .time { text-align: center; padding-left: 0; }

#gallery .mainContent .gallery03 #pageNavi { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 17px; font-size: 12px; }

#gallery .mainContent .gallery03 #pageNavi .prev { width: 15px; height: 19px; margin-right: 20px; background: url(../images/gallery/paging_left.png) no-repeat 50% 50%; }

#gallery .mainContent .gallery03 #pageNavi .next { width: 15px; height: 19px; margin-left: 20px; background: url(../images/gallery/paging_right.png) no-repeat 50% 50%; }

#gallery .mainContent .gallery03 #pageNavi ol { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#gallery .mainContent .gallery03 #pageNavi ol li { margin-left: 5px; }

#gallery .mainContent .gallery03 #pageNavi ol li > .on { background-color: #000; color: #fff; }

#gallery .mainContent .gallery03 #pageNavi ol li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 19px; height: 19px; text-align: center; line-height: 22px; }

#gallery .mainContent .gallery03 #p_agencynm { padding: 50px 0 10px 0; color: #000; font-size: 16px; font-weight: 400; text-align: center; background: none; }
