#main.mainOver { overflow: hidden; }

#main #mainSlider { position: relative; }

#main #mainSlider ul li { background-repeat: no-repeat; background-position: center; background-size: cover; height: 100vh; }

#main #mainSlider ul li.video video { width: 100%; height: 100vh; -o-object-fit: contain; object-fit: contain; }

#main #mainSlider ul li:nth-child(2) { background-image: url("../images/layout/index_slider01.jpg"); }

#main #mainSlider ul li:nth-child(3) { background-image: url("../images/layout/index_slider02.jpg"); }

#main #mainSlider ul li:nth-child(4) { background-image: url("../images/layout/index_slider03.jpg"); }

#main #mainSlider ul li:nth-child(5) { background-image: url("../images/layout/index_slider04.jpg"); }

#main #mainSlider ul li:nth-child(6) { background-image: url("../images/layout/index_slider05.jpg"); }

#main #mainSlider ul li:nth-child(7) { background-image: url("../images/layout/index_slider06.jpg"); }

#main #mainSlider ul li:nth-child(8) { background-image: url("../images/layout/index_slider07.jpg"); }

#main #mainSlider ul li:nth-child(9) { background-image: url("../images/layout/index_slider08.jpg"); }

#main #mainSlider ul li:nth-child(10) { background-image: url("../images/layout/index_slider09.jpg"); }

#main #mainSlider .page { z-index: 2; position: absolute; right: 30px; bottom: 40px; width: auto; left: auto; }

#main #mainSlider .page .swiper-pagination-bullet { background: none; margin: 0 2px; border: 1px solid #fff; }

#main #mainSlider .page .swiper-pagination-bullet-active { background-color: #fff; }

#main #mainSlider .btns .btn { z-index: 2; position: absolute; top: calc(50% - 56px / 2); left: 50px; }

#main #mainSlider .btns .btn.pageRight { left: auto; right: 50px; }

#main #mainSlider .btnCollection { z-index: 2; position: absolute; bottom: 40px; left: calc(50% - 24px); }

#main #popup { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: fixed; top: 70px; right: 10px; background-color: #fff; z-index: 10; cursor: pointer; }

#main #popup img { vertical-align: top; }

#main #popup .popupClose { width: 30px; height: 30px; position: absolute; right: 10px; top: 10px; }

#main #popup label { position: absolute; bottom: 5px; left: 15px; }

#main #popup label input { margin-right: 10px; }

#main #popup.off { display: none; }

#main .container { width: 1000px; margin: 60px auto 150px; }

#main .container .Delete { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 30px; }

#main .container .Delete a { color: #999; text-decoration: underline; }

#main .container .lnb { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-size: 12px; padding: 20px 0; }

#main .container .lnb li { margin-right: 20px; position: relative; }

#main .container .lnb li:first-child:after { position: absolute; content: ""; display: block; background-color: #ccc; width: 1px; height: 10px; right: -10px; top: 2px; }

#main .container .txtBox { text-align: center; margin: 40px 0; position: relative; }

#main .container .txtBox h1 { font-size: 50px; margin-bottom: 20px; font-weight: bold; }

#main .container .txtBox p { font-size: 14px; color: #999; }

#main .container .txtBox:after { content: ""; display: block; width: 80px; height: 3px; background-color: #000; position: absolute; bottom: -40px; left: calc(50% - 40px); }

#main .container .txtBox.lineOff:after { display: none; }

#main .container .customerList { margin-top: 150px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .container .customerList > li { cursor: pointer; }

#main .container .customerList > li.on { background-color: #000; }

#main .container .customerList > li.on > a { color: #fff; }

#main .container .customerList > li > a { -webkit-box-sizing: border-box; box-sizing: border-box; width: 200px; padding: 15px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 1px solid #ccc; border-left: none; }

#main .container .customerList > li:first-child { border-left: 1px solid #ccc; }

#main .container .customerContents { width: 1000px; margin-top: 50px; }

#main .container .customerContents h2 { font-size: 16px; margin: 0; }

#main .container .customerContents p { margin: 0; }

#main .container .customerContents .searchBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

#main .container .customerContents .searchBox input { padding: 5px 10px; border: 1px solid #ccc; width: 250px; height: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main .container .customerContents .searchBox button { height: 30px; margin-left: 10px; background-color: #000; color: #fff; border: none; padding: 5px 25px; font-size: 12px; }

#main .container .customerContents .searchBox.off { display: none; }

#main .container .customerContents.faq .faqTab { margin: 20px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#main .container .customerContents.faq .faqTab span { -webkit-box-sizing: border-box; box-sizing: border-box; display: block; width: calc(1000px / 6); text-align: center; color: #999; font-size: 12px; padding: 10px 0; border: 1px solid #ccc; border-bottom: 2px solid #000; cursor: pointer; }

#main .container .customerContents.faq .faqTab input { display: none; }

#main .container .customerContents.faq .faqTab input:checked ~ span { border: 2px solid #000; border-bottom: none; }

#main .container .customerContents.faq .faqContents { border-bottom: 2px solid #000; }

#main .container .customerContents.faq .faqContents .warranty { border-bottom: 0px; padding: 20px; }

#main .container .customerContents.faq .faqContents .warranty .txtBox { display: -webkit-box; display: -ms-flexbox; display: flex; text-align: left; line-height: 1.2; }

#main .container .customerContents.faq .faqContents .warranty .txtBox img { margin-right: 20px; }

#main .container .customerContents.faq .faqContents .warranty .txtBox:after { display: none; }

#main .container .customerContents.faq .faqContents .warranty .txtBox p { margin-top: 5px; }

#main .container .customerContents.faq .faqContents .warranty table { width: 100%; }

#main .container .customerContents.faq .faqContents .warranty table th, #main .container .customerContents.faq .faqContents .warranty table td { height: 40px; text-align: center; vertical-align: middle; color: #999; font-size: 12px; }

#main .container .customerContents.faq .faqContents .warranty table th { color: #000; border-top: 1px solid #000; border-bottom: 1px solid #000; }

#main .container .customerContents.faq .faqContents .warranty table td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }

#main .container .customerContents.faq .faqContents .warranty table td:nth-child(4) { border-right: 0; border-bottom: 1px solid #000; padding: 10px; line-height: 1.3; }

#main .container .customerContents.faq .faqContents .warranty table td h2 { margin-top: 20px; }

#main .container .customerContents.faq .faqContents .warranty table td .innerTable { margin: 20px auto; width: 100%; }

#main .container .customerContents.faq .faqContents .warranty table td .innerTable td:last-child { border-right: 0; }

#main .container .customerContents.faq .faqContents .warranty table .line td { border-bottom: 1px solid #000; }

#main .container .customerContents.faq .faqContents > li { display: none; }

#main .container .customerContents.faq .faqContents > li.on { display: block; }

#main .container .customerContents.faq .faqContents > li ul li h2 { margin-top: 0; margin-bottom: 0; }

#main .container .customerContents.faq .faqContents > li ul li.on .material-icons.on { display: none; }

#main .container .customerContents.faq .faqContents > li ul li.on .material-icons.off { display: block; }

#main .container .customerContents.faq .faqContents > li ul li.on .answer { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .container .customerContents.faq .faqContents > li ul li .question { display: -webkit-box; display: -ms-flexbox; display: flex; height: 40px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-top: 1px solid #ccc; cursor: pointer; }

#main .container .customerContents.faq .faqContents > li ul li .question h2 { font-size: 12px; padding-left: 10px; }

#main .container .customerContents.faq .faqContents > li ul li .question span { padding-right: 30px; }

#main .container .customerContents.faq .faqContents > li ul li .question .off { display: none; }

#main .container .customerContents.faq .faqContents > li ul li .answer { display: none; padding: 10px; margin-bottom: 40px; }

#main .container .customerContents.faq .faqContents > li ul li .answer h2, #main .container .customerContents.faq .faqContents > li ul li .answer p { font-size: 12px; color: #999; line-height: 1.5; }

#main .container .customerContents.faq .faqContents > li ul li .answer h2 { margin-right: 5px; }

#main .container .customerContents.counsel, #main .container .customerContents.as { margin-top: 100px; }

#main .container .customerContents.counsel .asFlow h2, #main .container .customerContents.as .asFlow h2 { width: 20%; padding: 10px 0; border-bottom: 2px solid #000; position: relative; }

#main .container .customerContents.counsel .asFlow h2:after, #main .container .customerContents.as .asFlow h2:after { content: ""; display: block; background-color: #ccc; width: 400%; height: 1px; position: absolute; left: 100%; bottom: -2px; }

#main .container .customerContents.counsel .asFlow ul, #main .container .customerContents.as .asFlow ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 50px 0; }

#main .container .customerContents.counsel .asFlow ul li, #main .container .customerContents.as .asFlow ul li { -webkit-box-sizing: border-box; box-sizing: border-box; width: calc(20% - 10px); height: 50px; margin-bottom: 10px; border: 1px solid #ccc; font-size: 12px; color: #999; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 12.5px; position: relative; }

#main .container .customerContents.counsel .asFlow ul li:after, #main .container .customerContents.as .asFlow ul li:after { font-family: "Material Icons"; content: "\e5df"; display: inline-block; font-size: 20px; position: absolute; top: calc(50% - 10px); right: -18px; color: #000; }

#main .container .customerContents.counsel .asFlow ul li.end, #main .container .customerContents.as .asFlow ul li.end { margin-right: 0; }

#main .container .customerContents.counsel .asFlow ul li.end:after, #main .container .customerContents.as .asFlow ul li.end:after { display: none; }

#main .container .customerContents.counsel .asFlow ul li.img, #main .container .customerContents.as .asFlow ul li.img { border: none; background-image: url(../images/main/as_pro_img.gif); background-size: contain; background-repeat: no-repeat; }

#main .container .customerContents.counsel .asFlow ul li.img:after, #main .container .customerContents.as .asFlow ul li.img:after { display: none; }

#main .container .customerContents.counsel .asFlow ul li:nth-child(8):after, #main .container .customerContents.as .asFlow ul li:nth-child(8):after { display: none; }

#main .container .customerContents.counsel .contentsBox, #main .container .customerContents.as .contentsBox { text-align: left; }

#main .container .customerContents.counsel .contentsBox h2, #main .container .customerContents.as .contentsBox h2 { margin-bottom: 3px; }

#main .container .customerContents.counsel .contentsBox h2 span, #main .container .customerContents.as .contentsBox h2 span { position: relative; }

#main .container .customerContents.counsel .contentsBox h2 span:after, #main .container .customerContents.as .contentsBox h2 span:after { content: ""; display: block; background-color: #000; width: 100%; height: 2px; position: absolute; bottom: -3px; }

#main .container .customerContents.counsel .contentsBox p, #main .container .customerContents.as .contentsBox p { -webkit-box-sizing: border-box; box-sizing: border-box; max-height: 300px; overflow-x: hidden; border: 1px solid #ccc; padding: 50px 20px; color: #999; font-size: 14px; line-height: 1.5; }

#main .container .customerContents.counsel .agreeBox, #main .container .customerContents.as .agreeBox { margin: 10px 0; text-align: right; font-size: 14px; }

#main .container .customerContents.counsel .agreeBox input, #main .container .customerContents.as .agreeBox input { width: 16px; height: 16px; }

#main .container .customerContents.notice .searchBox, #main .container .customerContents.qna .searchBox { margin-bottom: 20px; }

#main .container .customerContents.notice .searchBox select, #main .container .customerContents.qna .searchBox select { border: 1px solid #ccc; width: 110px; margin-right: 10px; height: 30px; padding: 5px; color: #999; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main .container .customerContents.notice .searchBox input, #main .container .customerContents.qna .searchBox input { width: 200px; }

#main .container .customerContents.notice table, #main .container .customerContents.qna table { width: 100%; border-top: 2px solid #000; border-bottom: 2px solid #000; }

#main .container .customerContents.notice table th, #main .container .customerContents.notice table td, #main .container .customerContents.qna table th, #main .container .customerContents.qna table td { text-align: center; border-bottom: 1px solid #ccc; padding: 20px; font-size: 12px; color: #999; }

#main .container .customerContents.notice table th.left, #main .container .customerContents.notice table td.left, #main .container .customerContents.qna table th.left, #main .container .customerContents.qna table td.left { text-align: left; }

#main .container .customerContents.notice table th th, #main .container .customerContents.notice table td th, #main .container .customerContents.qna table th th, #main .container .customerContents.qna table td th { color: #000; }

#main .container .customerContents.notice .page, #main .container .customerContents.qna .page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 20px; }

#main .container .customerContents.notice .page ul, #main .container .customerContents.qna .page ul { margin: 0 10px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .container .customerContents.notice .page ul li, #main .container .customerContents.qna .page ul li { margin-right: 10px; }

#main .container .customerContents.notice .page ul li:last-child, #main .container .customerContents.qna .page ul li:last-child { margin-right: 0; }

#main .container .customerContents.notice .page ul li a, #main .container .customerContents.qna .page ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; font-size: 12px; }

#main .container .customerContents.notice .page ul li.on a, #main .container .customerContents.qna .page ul li.on a { background-color: #000; color: #fff; }

#main .container .customerCenter { width: 450px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: auto; margin-top: 100px; padding: 40px 0; text-align: center; }

#main .container .customerCenter.flex { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .container .customerCenter.flex .inner { text-align: left; padding-left: 50px; }

#main .container .customerCenter.flex .inner h2, #main .container .customerCenter.flex .inner strong { font-size: 16px; }

#main .container .customerCenter h2 { font-size: 18px; margin-bottom: 10px; }

#main .container .customerCenter h2 .material-icons { vertical-align: text-top; }

#main .container .customerCenter h2 strong { font-size: 22px; }

#main .container .customerCenter p { color: #999; font-size: 11px; }

#main .container .write { margin-top: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

#main .container .write a { padding: 10px; background-color: #000; color: #fff; font-size: 12px; }

#main .container .view { margin-top: 100px; border-top: 1px solid #000; }

#main .container .view .titleBox { padding: 0 20px 10px 20px; border-bottom: 1px solid #ccc; }

#main .container .view .titleBox h2 { font-size: 20px; }

#main .container .view .titleBox p { font-size: 12px; color: #999; }

#main .container .view .pages { padding: 20px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#main .container .view .pages .page { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 12px; }

#main .container .view .pages .page:first-child { margin-bottom: 20px; }

#main .container .view .pages .page .pageNav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #999; margin-right: 100px; }

#main .container .view .pages .page .pageNav .material-icons { margin-right: 20px; }

#main .container .view .contentsBox { padding: 50px 20px; margin-bottom: 50px; }

#main .container .view table { width: 100%; font-size: 14px; }

#main .container .view table th { padding: 20px; font-size: 14px; vertical-align: middle; }

#main .container .view table td { vertical-align: middle; padding: 20px; }

#main .container .view table td .full { width: 100%; margin-bottom: 20px; }

#main .container .view table td textarea { width: 100%; height: 300px; resize: none; padding: 5px 10px; margin-bottom: 20px; }

#main .container .view .btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-top: 1px solid #000; padding-top: 50px; }

#main .container .view .btns a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: #fff; border: 1px solid #000; color: #000; width: 100px; margin-right: 20px; height: 40px; font-size: 14px; border-radius: 4px; cursor: pointer; }

#main .container .view .btns a.delete { background-color: #f00; border-color: #f00; color: #fff; }

#main .container .view .btns a.confirm { background-color: #000; color: #fff; }

#main .btnTop { position: absolute; bottom: 30px; right: 30px; display: none; }

#main .btnTop.on { display: block; }
