#main .container .managerTxtBox { padding-top: 50px; }

#main .container .managerList { margin-top: 50px; }

#main .container #list .searchBox { margin: 20px 0; }

#main .container #list .searchBox select { border: 1px solid #ccc; width: 110px; margin-right: 10px; height: 30px; padding: 5px; color: #999; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main .container #list .searchBox input { width: 200px; }

#main .container #list .searchBox button { height: 30px; margin-left: 10px; background-color: #000; color: #fff; border: none; padding: 5px 25px; font-size: 12px; }

#main .container #list table { width: 100%; border-top: 2px solid #000; border-bottom: 2px solid #000; }

#main .container #list table th, #main .container #list table td { text-align: center; border-bottom: 1px solid #ccc; padding: 20px; font-size: 12px; color: #999; }

#main .container #list table th.left, #main .container #list table td.left { text-align: left; }

#main .container #list table th th, #main .container #list table td th { color: #000; }

#main .container #list .page { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 20px; }

#main .container #list .page ul { margin: 0 10px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .container #list .page ul li { margin-right: 10px; }

#main .container #list .page ul li:last-child { margin-right: 0; }

#main .container #list .page ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; font-size: 12px; }

#main .container #list .page ul li.on a { background-color: #000; color: #fff; }

#main .container .view { margin-top: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

#main .listBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 100px; }

#main .listBox a { display: block; width: 300px; height: 500px; background-color: #f00; color: #fff; }
