//$main-color: ;
$footer-color: #666;
$border-color: #ccc;
$gray-color: #999;
$select-color: #a57a42;
$lnb-size: 12px;
$h1-size: 50px;

$main-color: #fff;
$text-color: #111111;
$hover-color: #a57a42;
$white-color: #fff;
$gray-color2: #777;
$red-color: #b92c2c;
$light-gray-color: #a1a1a1;
$small-size: 12px;
$normal-size: 14px;
$medium-size: 18px;
$large-size: 24px;
$x-large-size: 48px;
$xx-large-size: 64px;
$h2: 36px;
$h3: 24px;
$h4: 20px;
