main {
  overflow: hidden;
  #black {
    text-align: center;
    position: relative;
    .mainImg {
      width: 100%;
      height: 340px;
      margin-top: 60px;
      overflow: hidden;
      background: url("../images/black/theblack_bg.jpg") no-repeat 50% 0;
      .firstMenu {
        display: flex;
        position: absolute;
        right: 20px;
        top: 26px;
        .firstLi {
          display: flex;
          padding-left: 10px;
          margin-right: 10px;
          font-size: 12px;
          color: #fff;
          background: url(../images/aboutus/heritage/location_bar.gif) no-repeat 0 50%;
          &.open {
            display: block;
            .secondMenu {
              display: block;
              background-color: #fff;
              color: #777;
              padding: 15px 10px;
              width: 130px;
            }
          }
          > a {
            padding-right: 10px;
            background: url(../images/aboutus/heritage/location_arrow2.gif) no-repeat 100% 50%;
            &:hover {
              color: #fff !important;
            }
          }
          .secondMenu {
            display: none;
            position: absolute;
            text-align: left;
            a {
              display: block;
              line-height: 1.5;
            }
          }
        }
        .firstLi:first-child {
          background: none;
          a {
            margin: 0;
            padding: 0;
            background: none;
          }
        }
      }
      .mainTxt {
        text-align: center;
        margin-top: 80px;
        h2 {
          color: #fff;
          font-size: 50px;
        }
        > p {
          color: #c7c7c7;
          font-size: 16px;
          line-height: 3;
          padding-top: 0;
        }
      }
    }
    .theBackTitle {
      width: 100%;
      padding: 140px 0 65px;
      text-align: center;
      background: url("../images/black/heritage/list_bg.jpg") no-repeat 50% 100%;
      margin-bottom: -90px;
      img {
        margin: 0 auto;
      }
    }
    h3 {
      background: url("../images/black/intro/lab_tt_bg.gif") no-repeat 50% 100%;
      font-size: 35px;
      letter-spacing: 8px;
      padding: 25px 0;
      margin-top: 150px;
    }
    p {
      padding: 60px 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #acacac;
    }
    .slider {
      position: relative;
      .sliderBox {
        position: relative;
        overflow: hidden;
        ul {
          li {
            height: 340px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
          }
        }
      }
      .sliderBtn {
        position: absolute;
        text-align: center;
        display: flex;
        left: 50%;
        z-index: 100;
        margin-left: -80px;
        .bullet {
          width: 150px;
          position: absolute;
          bottom: 20px;
          .swiper-pagination-bullet {
            margin-right: 2px;
            width: 10px;
            height: 10px;
            background: url(../images/collection/beautyrest/bullet_off.png) no-repeat 0 0;
            opacity: 1;
            &-active {
              background: url(../images/collection/beautyrest/bullet_on.png) no-repeat 0 0;
            }
          }
        }
      }
    }
  }
  #blackContents {
    margin-top: 60px;
    width: 100%;
    .proTop {
      position: relative;
      z-index: 3;
      .miniMenu {
        display: flex;
        position: absolute;
        right: 20px;
        top: 26px;
        background-color: #111;
        border-radius: 12.5px;
        padding: 5px;
        .miniLi {
          display: flex;
          padding-left: 10px;
          margin-right: 10px;
          font-size: 12px;
          color: #fff;
          background: url(../images/aboutus/heritage/location_bar.gif) no-repeat 0 50%;
          &:nth-child(1) {
            background: none;
            > a {
              background: none;
            }
          }
          &.open {
            display: block;
            .miniSub {
              display: block;
              background-color: #fff;
              padding: 15px 10px;
              width: 130px;
            }
          }
          > a {
            padding-right: 10px;
            background: url(../images/aboutus/heritage/location_arrow2.gif) no-repeat 100% 50%;
            &:hover,
            &:focus {
              color: #fff !important;
            }
          }
          .miniSub {
            display: none;
            position: absolute;
            text-align: left;
            a {
              display: block;
              line-height: 1.5;
              color: #777;
            }
          }
        }
      }
    }
    .mainSlider {
      position: relative;

      .mainSliderBox {
        position: relative;
        overflow: hidden;
        .mask {
          height: 100vh;
        }
        ul {
          li {
            height: 90vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            &.visual01 {
              background-image: url("../images/black/collection_banner1.jpg");
            }
            &.visual02 {
              background-image: url("../images/black/collection_banner2.jpg");
            }
            &.visual03 {
              background-image: url("../images/black/collection_banner3.jpg");
            }
            &.visual04 {
              background-image: url("../images/black/collection_banner4.jpg");
            }
          }
        }
      }
      .sliderBtn {
        position: absolute;
        text-align: center;
        display: flex;
        left: 50%;
        z-index: 100;
        margin-left: -80px;
        .bullet {
          width: 150px;
          position: absolute;
          bottom: 90px;
          .swiper-pagination-bullet {
            margin-right: 2px;
            width: 10px;
            height: 10px;
            background: url(../images/collection/beautyrest/bullet_off.png) no-repeat 0 0;
            opacity: 1;
            &-active {
              background: url(../images/collection/beautyrest/bullet_on.png) no-repeat 0 0;
            }
          }
        }
      }
      .galleryRight {
        display: flex;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 65px;
        background: url(../images/collection/beautyrest/kv_right.png) no-repeat 0 0;
        z-index: 60;
        opacity: 1;
        font-size: 0;
        cursor: pointer;
      }
      .galleryLeft {
        display: flex;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 65px;
        background: url(../images/collection/beautyrest/kv_left.png) no-repeat 0 0;
        z-index: 60;
        opacity: 1;
        font-size: 0;
        cursor: pointer;
      }
    }
    .sns {
      display: flex;
      justify-content: flex-end;
      a {
        background: url(../images/black/menu03.png) no-repeat 10px 0;
        display: block;
        width: 50px;
        padding-top: 30px;
        font-size: 11px;
      }
    }
    h2 {
      text-align: center;
      font-size: 50px;
      padding: 80px 0 20px;
    }
    .proList {
      .option {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0;
        .mat {
          display: flex;
          padding-top: 10px;
          justify-content: center;
          dd {
            label {
              display: none;
            }
            .select {
              width: 125px;
              height: 30px;
              border: none;
              border-bottom: 1px solid #000;
            }
            .select2 {
              margin-right: 60px;
            }
          }
        }
      }
    }
    .SliderScrollBox {
      max-width: 100%;
      position: relative;
      height: 550px;
      padding-bottom: 30px;
      .swiper-wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        padding: 45px 0 90px 40px;
        li {
          width: 400px;
          a {
            position: relative;
            display: block;
            img {
              width: 330px;
              box-shadow: 0 0 5px #555;
            }
            &:hover {
              position: relative;
              text-align: center;
              opacity: 1;
              img {
                display: block;
                filter: brightness(30%);
                transition: all 0.5s ease;
                margin-top: -30px;
              }
            }
            .hoverBox {
              text-align: center;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0, 0, 0, 0.3);
              width: 330px;
              height: 480px;
              opacity: 0;
              transition: 0.3s;
              .cover {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                width: 100%;
                font-size: 0;
                .box {
                  display: inline-block;
                  width: 48px;
                  height: 18px;
                  border: 1px solid #5b5b5b;
                  color: #fff;
                  font-size: 9px;
                  line-height: 18px;
                }
                .name {
                  display: block;
                  color: #f0f0f0;
                  font-size: 21px;
                  font-weight: lighter;
                  text-align: center;
                  line-height: 1.25em;
                  padding: 15px 0;
                }
                .bogi {
                  display: inline-block;
                  border-bottom: 1px solid #868686;
                  i {
                    display: inline-block;
                    color: #fff;
                    font-size: 11px;
                  }
                }
              }
            }
          }
          &:hover .hoverBox {
            opacity: 1;
          }
        }
      }
    }
    .swiper-scrollbar {
      position: absolute;
      bottom: 0;
      height: 3px;
      background: #dedede;
    }
  }
}

.swiper-wrapper {
  min-height: 100%;
}
.swiper-slide {
  height: auto !important;
}
