main {
  #collection {
    min-width: 1000px;
    min-height: 650px;
    margin-top: 60px;
    .proTop {
      position: relative;
      z-index: 3;
      .firstMenu {
        display: flex;
        position: absolute;
        right: 20px;
        top: 26px;
        background-color: #111;
        border-radius: 12.5px;
        padding: 5px;
        .firstLi {
          display: flex;
          padding-left: 10px;
          margin-right: 10px;
          font-size: 12px;
          color: #fff;
          background: url(../images/aboutus/heritage/location_bar.gif) no-repeat 0 50%;
          &:nth-child(1) {
            background: none;
            > a {
              background: none;
            }
          }
          &.open {
            display: block;
            .secondMenu {
              display: block;
              background-color: #fff;
              padding: 15px 10px;
              width: 130px;
            }
          }
          > a {
            padding-right: 10px;
            background: url(../images/aboutus/heritage/location_arrow2.gif) no-repeat 100% 50%;
            &:hover,
            &:focus {
              color: #fff !important;
            }
          }
          .secondMenu {
            display: none;
            position: absolute;
            text-align: left;
            a {
              display: block;
              line-height: 1.5;
              color: #777;
            }
          }
        }
      }
    }
    .slider {
      position: relative;
      .sliderBox {
        position: relative;
        overflow: hidden;
        .mask {
          height: 100vh;
        }
        ul {
          li {
            height: 90vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            &.visual01 {
              background-image: url("../images/collection/beautyrest/collection_banner01.jpg");
            }
            &.visual02 {
              background-image: url("../images/collection/beautyrest/collection_banner02.jpg");
            }
            &.visual03 {
              background-image: url("../images/collection/beautyrest/collection_banner03.jpg");
            }
            &.visual04 {
              background-image: url("../images/collection/beautyrest/collection_banner04.jpg");
            }
            &.visual05 {
              background-image: url("../images/collection/beautyrest/collection_banner05.jpg");
            }
            &.visual06 {
              background-image: url("../images/collection/beautyrest/collection_banner06.jpg");
            }
            &.visual07 {
              background-image: url("../images/collection/n32/N32_1.jpg");
            }
            &.visual08 {
              background-image: url("../images/collection/n32/N32_2.jpg");
            }
            &.visual09 {
              background-image: url("../images/collection/n32/N32_3.jpg");
            }
            &.visual10 {
              background-image: url("../images/collection/n32/N32_4.jpg");
            }
          }
        }
      }
      .sliderBtn {
        position: absolute;
        text-align: center;
        display: flex;
        left: 50%;
        z-index: 100;
        margin-left: -80px;
        .bullet {
          width: 150px;
          position: absolute;
          bottom: 90px;
          .swiper-pagination-bullet {
            margin-right: 2px;
            width: 10px;
            height: 10px;
            background: url(../images/collection/beautyrest/bullet_off.png) no-repeat 0 0;
            opacity: 1;
            &-active {
              background: url(../images/collection/beautyrest/bullet_on.png) no-repeat 0 0;
            }
          }
        }
      }
      .galleryRight {
        display: flex;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 65px;
        background: url(../images/collection/beautyrest/kv_right.png) no-repeat 0 0;
        z-index: 60;
        opacity: 1;
        font-size: 0;
        cursor: pointer;
      }
      .galleryLeft {
        display: flex;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 65px;
        background: url(../images/collection/beautyrest/kv_left.png) no-repeat 0 0;
        z-index: 60;
        opacity: 1;
        font-size: 0;
        cursor: pointer;
      }
    }
    .sns {
      position: relative;
      display: flex;
      justify-content: end;
      padding: 30px 30px 0 0;
      > a {
        display: flex;
        width: 50px;
        height: 30px;
        background: url(../images/collection/beautyrest/menu03.png) no-repeat 40% 0;
        padding-top: 28px;
        margin: 5px 0 0 35px;
        font-size: 12px;
      }
      ul {
        display: none !important;
        position: absolute;
        display: flex;
        justify-content: end;
        bottom: -30px;
        right: 30px;
        width: 150px;
        height: 40px;
        background: url(../images/collection/beautyrest/sns_bg.jpg) no-repeat 0 0;
        li {
          display: flex;
          margin: 15px 18px 0 0;
          a {
            display: flex;
            background-position: 0 0;
            background-repeat: no-repeat;
          }
        }
        .sns01 {
          margin-left: 16px;
          a {
            width: 9px;
            height: 17px;
            background-image: url(../images/collection/beautyrest/sns01.png);
          }
        }
        .sns02 {
          a {
            width: 17px;
            height: 17px;
            background-image: url(../images/collection/beautyrest/sns02.png);
          }
        }
        .sns03 {
          a {
            width: 8px;
            height: 17px;
            background-image: url(../images/collection/beautyrest/sns03.png);
          }
        }
        .sns04 {
          a {
            width: 22px;
            height: 17px;
            background-image: url(../images/collection/beautyrest/sns04.png);
          }
        }
      }
      .on {
        display: flex !important;
      }
    }
    h2 {
      display: flex;
      justify-content: center;
      padding: 75px 0 15px 0;
      font-size: 50px;
    }
    .proList {
      width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .option {
        text-align: center;
        padding-top: 20px;
        .mat {
          display: flex;
          padding-top: 10px;
          dt {
            position: relative;
            width: 10px;
            height: 30px;
            padding: 0 10px 0 0;
            a {
              position: absolute;
              left: 0;
              top: 7px;
              width: 15px;
              height: 15px;
            }
          }
          dd {
            background-position: 0 0;
            background-repeat: no-repeat;
            .select {
              position: relative;
              width: 125px;
              height: 29px;
              background: url(../images/collection/beautyrest/select_arrow.png) 100% center no-repeat;
              border-bottom: 1px solid #000;
              margin-right: 40px;
              label {
                position: absolute;
                font-size: 14px;
                color: #000;
                top: 8px;
                left: 10px;
                letter-spacing: 1px;
              }
              select {
                width: 100%;
                height: 30px;
                min-height: 30px;
                line-height: 30px;
                opacity: 0;
                padding-left: 11px;
                .option {
                  text-align: center;
                }
              }
            }
            .select3 {
              width: 190px;
            }
          }
        }
      }
    }
    .SliderScrollBox {
      max-width: 100%;
      position: relative;
      height: 550px;
      padding-bottom: 30px;
      .swiper-wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        padding: 45px 0 90px 40px;
        li {
          width: 400px;
          a {
            position: relative;
            display: block;
            img {
              width: 330px;
              box-shadow: 0 0 5px #555;
            }
            &:hover {
              position: relative;
              text-align: center;
              opacity: 1;
              img {
                display: block;
                filter: brightness(30%);
                transition: all 0.5s ease;
                margin-top: -30px;
              }
            }
            .hoverBox {
              text-align: center;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0, 0, 0, 0.3);
              width: 330px;
              height: 480px;
              opacity: 0;
              transition: 0.3s;
              .cover {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                width: 100%;
                font-size: 0;
                .box {
                  display: inline-block;
                  width: 48px;
                  height: 18px;
                  border: 1px solid #5b5b5b;
                  color: #fff;
                  font-size: 9px;
                  line-height: 18px;
                }
                .name {
                  display: block;
                  color: #f0f0f0;
                  font-size: 21px;
                  font-weight: lighter;
                  text-align: center;
                  line-height: 1.25em;
                  padding: 15px 0;
                }
                .bogi {
                  display: inline-block;
                  border-bottom: 1px solid #868686;
                  i {
                    display: inline-block;
                    color: #fff;
                    font-size: 11px;
                  }
                }
              }
            }
          }
          &:hover .hoverBox {
            opacity: 1;
          }
        }
      }
    }
    .swiper-scrollbar {
      position: absolute;
      bottom: 0;
      height: 3px;
      background: #dedede;
    }
  }
}
.swiper-wrapper {
  min-height: 100%;
}
.swiper-slide {
  height: auto !important;
}
