@import "vars";

#main {
  .container {
    .qna form {
      align-items: flex-end;
      table {
        margin-bottom: 10px;
      }
      .apply {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 30px;
        margin: 0;
        margin-left: 5px;
        font-size: 12px;
        border: none;
        background-color: #000;
        color: #fff;
      }
    }
    form {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      text-align: center;
      &#order,
      &#as {
        margin-top: 0;
        .formTxt {
          margin-top: 100px;
        }
        #conentsTxt {
          height: 300px;
        }
      }
      &#qnaWrite {
        .formTxt {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }
        .btns {
          .cancel {
            background-color: #fff;
            border: 1px solid #000;
            color: #000;
          }
          .confirm {
            width: 200px;
            font-size: 12px;
          }
        }
        table {
          .regDate {
            border: none;
            outline: none;
            padding: 0;
          }
          th {
            vertical-align: top;
          }
          input {
            width: 50%;
          }
          textarea {
            width: 100%;
            height: 300px;
            resize: none;
            padding: 20px 10px;
            &.contents {
              margin: 0;
            }
          }
        }
      }
      &#login {
        margin-top: 150px;
        input {
          margin: auto;
        }
      }
      button {
        background-color: #efefef;
      }
      input {
        box-sizing: border-box;
        border: 1px solid $border-color;
        width: 450px;
        height: 45px;
        margin-bottom: 10px;
        padding-left: 10px;
      }
      #file,
      #address {
        width: 100px;
        height: 30px;
        margin: 0;
        margin-left: 5px;
        font-size: 12px;
        border: none;
      }
      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        .cancel {
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          margin-left: 10px;
          background-color: #000;
          color: #fff;
          width: 200px;
          height: 43px;
          font-size: 14px;
          margin-top: 10px;
          &:hover {
            text-decoration: none;
          }
        }
        button {
          box-sizing: border-box;
          border: 1px solid $border-color;
          width: 450px;
          height: 45px;
          margin-bottom: 10px;
          padding-left: 10px;
          margin-top: 20px;
          background-color: #000;
          border-color: #000;
          color: #fff;
          &.confirm {
            width: 200px;
          }
        }
      }
      .etcLogin {
        margin-top: 30px;
        font-size: 13px;
        a {
          margin-right: 20px;
          color: $gray-color;
          position: relative;
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 10px;
            background-color: $border-color;
            position: absolute;
            top: 5px;
            right: -15px;
            pointer-events: none;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
      .formTxt {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        p {
          font-size: 8px;
          color: $border-color;
        }
      }
      table {
        width: 100%;
        margin-bottom: 40px;
        tbody {
          tr {
            text-align: left;
            &.top {
              th {
                padding-top: 50px;
                border-top: 2px solid #000;
              }
              td {
                padding-top: 50px;
                border-top: 1px solid $border-color;
              }
            }
            &.bottom {
              th {
                padding-bottom: 50px;
                border-bottom: 2px solid #000;
              }
              td {
                padding-bottom: 50px;
                border-bottom: 1px solid $border-color;
              }
            }
            th {
              font-size: 12px;
              &.bottom {
                border-bottom: 2px solid #000;
              }
            }
            td {
              padding-left: 30px;
              &.fileBox {
                display: flex;
                label {
                  background-color: #000;
                  height: 30px;
                  box-sizing: border-box;
                  color: #fff;
                  font-size: 12px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 0 20px;
                  margin: 0;
                  margin-left: 20px;
                  input[type="file"] {
                    display: none;
                  }
                }
              }
              span {
                display: inline-block;
                font-size: 12px;
                &.txtCount {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .question {
          width: 100%;
        }
        .title,
        .fileName {
          width: 550px;
        }
        .address {
          width: 330px;
        }
        .phone,
        .date {
          width: 100px;
        }
        .address:read-only {
          background-color: #eee;
        }
        input,
        select {
          box-sizing: border-box;
          width: 220px;
          height: 30px;
        }
        select {
          border: 1px solid $border-color;
          padding-left: 10px;
          color: $gray-color;
          margin-bottom: 10px;
        }
        .textarea {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-left: 10px;
          textarea {
            padding: 10px;
            width: calc(100% - 20px);
            resize: none;
            border: 1px solid $border-color;
          }
          .answer {
            height: 400px;
          }
        }
        label {
          margin-right: 50px;
          span {
            vertical-align: middle;
          }
        }
        input[type="radio"] {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          margin-bottom: 17px;
        }
      }
    }
  }
}
