@import "vars";

#main {
  &.mainOver {
    overflow: hidden;
  }
  #mainSlider {
    position: relative;
    ul {
      li {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &.video {
          video {
            width: 100%;
            height: 100vh;
            object-fit: contain;
          }
        }
        height: 100vh;
        &:nth-child(2) {
          background-image: url("../images/layout/index_slider01.jpg");
        }
        &:nth-child(3) {
          background-image: url("../images/layout/index_slider02.jpg");
        }
        &:nth-child(4) {
          background-image: url("../images/layout/index_slider03.jpg");
        }
        &:nth-child(5) {
          background-image: url("../images/layout/index_slider04.jpg");
        }
        &:nth-child(6) {
          background-image: url("../images/layout/index_slider05.jpg");
        }
        &:nth-child(7) {
          background-image: url("../images/layout/index_slider06.jpg");
        }
        &:nth-child(8) {
          background-image: url("../images/layout/index_slider07.jpg");
        }
        &:nth-child(9) {
          background-image: url("../images/layout/index_slider08.jpg");
        }
        &:nth-child(10) {
          background-image: url("../images/layout/index_slider09.jpg");
        }
      }
    }
    .page {
      z-index: 2;
      position: absolute;
      right: 30px;
      bottom: 40px;
      width: auto;
      left: auto;
      .swiper-pagination-bullet {
        background: none;
        margin: 0 2px;
        border: 1px solid #fff;
        &-active {
          background-color: #fff;
        }
      }
    }
    .btns {
      .btn {
        z-index: 2;
        position: absolute;
        top: calc(50% - 56px / 2);
        left: 50px;
        &.pageRight {
          left: auto;
          right: 50px;
        }
      }
    }
    .btnCollection {
      z-index: 2;
      position: absolute;
      bottom: 40px;
      left: calc(50% - 24px);
    }
  }
  #popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;
    img {
      vertical-align: top;
    }
    .popupClose {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    label {
      position: absolute;
      bottom: 5px;
      left: 15px;
      input {
        margin-right: 10px;
      }
    }
    &.off {
      display: none;
    }
  }
  .container {
    width: 1000px;
    margin: 60px auto 150px;
    .Delete {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      a {
        color: $gray-color;
        text-decoration: underline;
      }
    }
    .lnb {
      display: flex;
      justify-content: flex-end;
      font-size: $lnb-size;
      padding: 20px 0;
      li {
        margin-right: 20px;
        position: relative;
        &:first-child:after {
          position: absolute;
          content: "";
          display: block;
          background-color: $border-color;
          width: 1px;
          height: 10px;
          right: -10px;
          top: 2px;
        }
      }
    }
    .txtBox {
      text-align: center;
      margin: 40px 0;
      position: relative;
      h1 {
        font-size: $h1-size;
        margin-bottom: 20px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        color: $gray-color;
      }
      &:after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background-color: #000;
        position: absolute;
        bottom: -40px;
        left: calc(50% - 40px);
      }
      &.lineOff:after {
        display: none;
      }
    }
    .customerList {
      margin-top: 150px;
      display: flex;
      > li {
        cursor: pointer;
        &.on {
          background-color: #000;
          > a {
            color: #fff;
          }
        }
        > a {
          box-sizing: border-box;
          width: 200px;
          padding: 15px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $border-color;
          border-left: none;
        }
        &:first-child {
          border-left: 1px solid $border-color;
        }
      }
    }
    .customerContents {
      width: 1000px;
      margin-top: 50px;
      h2 {
        font-size: 16px;
        margin: 0;
      }
      p {
        margin: 0;
      }

      .searchBox {
        display: flex;
        justify-content: flex-end;
        input {
          padding: 5px 10px;
          border: 1px solid $border-color;
          width: 250px;
          height: 30px;
          box-sizing: border-box;
        }
        button {
          height: 30px;
          margin-left: 10px;
          background-color: #000;
          color: #fff;
          border: none;
          padding: 5px 25px;
          font-size: 12px;
        }
        &.off {
          display: none;
        }
      }
      &.faq {
        .faqTab {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          span {
            box-sizing: border-box;
            display: block;
            width: calc(1000px / 6);
            text-align: center;
            color: $gray-color;
            font-size: 12px;
            padding: 10px 0;
            border: 1px solid $border-color;
            border-bottom: 2px solid #000;
            cursor: pointer;
          }
          input {
            display: none;
          }
          input:checked ~ span {
            border: 2px solid #000;
            border-bottom: none;
          }
        }
        .faqContents {
          border-bottom: 2px solid #000;
          .warranty {
            border-bottom: 0px;
            padding: 20px;
            .txtBox {
              display: flex;
              text-align: left;
              line-height: 1.2;
              img {
                margin-right: 20px;
              }
              &:after {
                display: none;
              }
              p {
                margin-top: 5px;
              }
            }
            table {
              width: 100%;
              th,
              td {
                height: 40px;
                text-align: center;
                vertical-align: middle;
                color: $gray-color;
                font-size: 12px;
              }
              th {
                color: #000;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
              }
              td {
                border-bottom: 1px solid $border-color;
                border-right: 1px solid $border-color;
                &:nth-child(4) {
                  border-right: 0;
                  border-bottom: 1px solid #000;
                  padding: 10px;
                  line-height: 1.3;
                }
                h2 {
                  margin-top: 20px;
                }
                .innerTable {
                  margin: 20px auto;
                  width: 100%;
                  td:last-child {
                    border-right: 0;
                  }
                }
              }
              .line {
                td {
                  border-bottom: 1px solid #000;
                }
              }
            }
          }
          > li {
            display: none;
            &.on {
              display: block;
            }
            ul {
              li {
                h2 {
                  margin-top: 0;
                  margin-bottom: 0;
                }
                &.on {
                  .material-icons {
                    &.on {
                      display: none;
                    }
                    &.off {
                      display: block;
                    }
                  }
                  .answer {
                    display: flex;
                  }
                }
                .question {
                  display: flex;
                  height: 40px;
                  justify-content: space-between;
                  align-items: center;
                  border-top: 1px solid $border-color;
                  cursor: pointer;
                  h2 {
                    font-size: 12px;
                    padding-left: 10px;
                  }
                  span {
                    padding-right: 30px;
                  }
                  .off {
                    display: none;
                  }
                }
                .answer {
                  display: none;
                  padding: 10px;
                  margin-bottom: 40px;
                  h2,
                  p {
                    font-size: 12px;
                    color: $gray-color;
                    line-height: 1.5;
                  }
                  h2 {
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
      &.counsel,
      &.as {
        margin-top: 100px;
        .asFlow {
          h2 {
            width: 20%;
            padding: 10px 0;
            border-bottom: 2px solid #000;
            position: relative;
            &:after {
              content: "";
              display: block;
              background-color: $border-color;
              width: 400%;
              height: 1px;
              position: absolute;
              left: 100%;
              bottom: -2px;
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0;
            li {
              box-sizing: border-box;
              width: calc(20% - 10px);
              height: 50px;
              margin-bottom: 10px;
              border: 1px solid $border-color;
              font-size: 12px;
              color: $gray-color;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 12.5px;
              position: relative;
              &:after {
                font-family: "Material Icons";
                content: "\e5df";
                display: inline-block;
                font-size: 20px;
                position: absolute;
                top: calc(50% - 10px);
                right: -18px;
                color: #000;
              }
              &.end {
                margin-right: 0;
                &:after {
                  display: none;
                }
              }
              &.img {
                border: none;
                background-image: url(../images/main/as_pro_img.gif);
                background-size: contain;
                background-repeat: no-repeat;
                &:after {
                  display: none;
                }
              }
              &:nth-child(8) {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
        .contentsBox {
          text-align: left;
          h2 {
            margin-bottom: 3px;
            span {
              position: relative;
              &:after {
                content: "";
                display: block;
                background-color: #000;
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: -3px;
              }
            }
          }
          p {
            box-sizing: border-box;
            max-height: 300px;
            overflow-x: hidden;
            border: 1px solid $border-color;
            padding: 50px 20px;
            color: $gray-color;
            font-size: 14px;
            line-height: 1.5;
          }
        }
        .agreeBox {
          margin: 10px 0;
          text-align: right;
          font-size: 14px;
          input {
            width: 16px;
            height: 16px;
          }
        }
      }
      &.notice,
      &.qna {
        .searchBox {
          margin-bottom: 20px;
          select {
            border: 1px solid $border-color;
            width: 110px;
            margin-right: 10px;
            height: 30px;
            padding: 5px;
            color: $gray-color;
            box-sizing: border-box;
          }
          input {
            width: 200px;
          }
        }
        table {
          width: 100%;
          border-top: 2px solid #000;
          border-bottom: 2px solid #000;
          th,
          td {
            text-align: center;
            border-bottom: 1px solid $border-color;
            padding: 20px;
            font-size: 12px;
            color: $gray-color;
            &.left {
              text-align: left;
            }
            th {
              color: #000;
            }
          }
        }
        .page {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          ul {
            margin: 0 10px;
            display: flex;
            li {
              margin-right: 10px;
              &:last-child {
                margin-right: 0;
              }
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                font-size: 12px;
              }
              &.on {
                a {
                  background-color: #000;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .customerCenter {
      width: 450px;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      margin: auto;
      margin-top: 100px;
      padding: 40px 0;
      text-align: center;
      &.flex {
        width: 100%;
        display: flex;
        .inner {
          text-align: left;
          padding-left: 50px;
          h2,
          strong {
            font-size: 16px;
          }
        }
      }
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
        .material-icons {
          vertical-align: text-top;
        }
        strong {
          font-size: 22px;
        }
      }
      p {
        color: $gray-color;
        font-size: 11px;
      }
    }
    .write {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      a {
        padding: 10px;
        background-color: #000;
        color: #fff;
        font-size: 12px;
      }
    }
    .view {
      margin-top: 100px;
      border-top: 1px solid #000;
      .titleBox {
        padding: 0 20px 10px 20px;
        border-bottom: 1px solid $border-color;
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
          color: $gray-color;
        }
      }
      .pages {
        padding: 20px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        .page {
          display: flex;
          font-size: 12px;
          &:first-child {
            margin-bottom: 20px;
          }
          .pageNav {
            display: flex;
            align-items: center;
            color: $gray-color;
            margin-right: 100px;
            .material-icons {
              margin-right: 20px;
            }
          }
        }
      }
      .contentsBox {
        padding: 50px 20px;
        margin-bottom: 50px;
      }
      table {
        width: 100%;
        font-size: 14px;
        th {
          padding: 20px;
          font-size: 14px;
          vertical-align: middle;
        }
        td {
          vertical-align: middle;
          padding: 20px;
          .full {
            width: 100%;
            margin-bottom: 20px;
          }
          textarea {
            width: 100%;
            height: 300px;
            resize: none;
            padding: 5px 10px;
            margin-bottom: 20px;
          }
        }
      }
      .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #000;
        padding-top: 50px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border: 1px solid #000;
          color: #000;
          width: 100px;
          margin-right: 20px;
          height: 40px;
          font-size: 14px;
          border-radius: 4px;
          cursor: pointer;
          &.delete {
            background-color: #f00;
            border-color: #f00;
            color: #fff;
          }
          &.confirm {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
  .btnTop {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: none;
    &.on {
      display: block;
    }
  }
}
