$main-color: #bf0c14;
$footer-color: #666;
$border-color: #ccc;
$gray-color: #999;
$select-color: #a57a42;
$small-size: 12px;
$normal-size: 14px;
$medium-size: 18px;
$large-size: 24px;
$h2: 3.6rem;
$h3: 2.4rem;
$h4: 2rem;
$large-size: 2.4rem;
$x-large-size: 4.8rem;
$xx-large-size: 6rem;
