@import "vars";

#main {
  .container {
    form {
      margin-top: 100px;
      &#login {
        margin-top: 150px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      input,
      button {
        box-sizing: border-box;
        border: 1px solid $border-color;
        width: 450px;
        height: 45px;
        margin-bottom: 10px;
        padding-left: 10px;
      }
      button {
        margin-top: 20px;
        background-color: #000;
        border-color: #000;
        color: #fff;
        &.tableBtn {
          width: 200px;
        }
      }
      .etcLogin {
        margin-top: 30px;
        font-size: 13px;
        a {
          margin-right: 20px;
          color: $gray-color;
          position: relative;
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 10px;
            background-color: $border-color;
            position: absolute;
            top: 5px;
            right: -15px;
            pointer-events: none;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
      .customerCenter {
        width: 450px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-top: 100px;
        padding: 40px 0;
        h2 {
          font-size: 18px;
          margin-bottom: 10px;
          .material-icons {
            vertical-align: text-top;
          }
          strong {
            font-size: 22px;
          }
        }
        p {
          color: $gray-color;
          font-size: 11px;
        }
      }
      .formTxt {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        p {
          font-size: 8px;
          color: $border-color;
        }
      }
      table {
        width: 100%;
        margin-bottom: 40px;
        tbody {
          tr {
            text-align: left;
            &.top {
              th {
                padding-top: 50px;
                border-top: 2px solid #000;
              }
              td {
                border-top: 1px solid $border-color;
              }
            }
            &.bottom {
              th {
                padding-bottom: 50px;
                border-bottom: 2px solid #000;
              }
              td {
                border-bottom: 1px solid $border-color;
              }
            }
            th {
              font-size: 12px;
            }
            td {
              padding-left: 30px;
              span {
                display: inline-block;
                width: 10px;
                font-size: 12px;
              }
            }
          }
        }
        .phone {
          width: 90px;
        }
        input,
        select {
          width: 200px;
          height: 30px;
        }
        select {
          padding-left: 10px;
          color: $gray-color;
        }
      }
    }
  }
}
